<h1>Home</h1>
<h2>Welcome!</h2>
<%= link_to 'Ingredients', ingredients_path, class: 'button' %>
<%= link_to 'Recipes', recipes_path, class: 'button' %>
<%= link_to 'Inventories', inventories_path, class: 'button' %>