<h1>Ingredients</h1>

<%@ingredients.each do |ingredient| %>
	<h2><%= ingredient.name %></h2>
	<table>
          <tr>
            <th>Location</th>
            <td><%= ingredient.location %></td>
          </tr>
          <tr>
            <th>Category</th>
            <td><%= ingredient.category %></td>
          </tr>
        </table>
  <% end %>
