<h1>Inventories</h1>

<%@inventory.each do |inventory|%>
<%= link_to inventory.name, inventory_path(inventory)%> <br />
<%end%>
<footer>
<br />
<%= link_to 'Return to Home', home_path, class: 'button' %>
</footer>