<h1>Inventories</h1>

<%@inventories.each do |inventory|%>
<%= link_to inventory.name, inventories_path(inventory)%>
<%end%>
<footer>
<%= link_to 'Return to Home', home_path, class: 'button' %>
</footer>